.post_detail {
    margin-bottom: 2em;
    border-radius: 5px;
    border: solid cadetblue 0.5px;
    margin-left: 10px;
    /*color: cadetblue*/
}

    .post_detail img {
        width: 355px;
        height: 240px;
    }
