body {
    background-color: #f6fcff;
    font-family: "Montserrat", sans-serif;
    flex-direction: column; 
}

/* form styles */
form {
    max-width: 40%;
    margin: 0 auto;
}

form input, textarea{
    min-width: 400px;
}

form textarea{
    min-height: 100px;
}

form label{
    text-align: left;
}
